html {
    font-size: 18px;
}

.hero-image__pic {
    min-width: 100vw;
    max-height: 500px;

    & img {
        max-width: 100vw;
        width: auto;
        height: 150px;
        object-fit: cover;
    }
}

.content {
    @apply font-base px-4 font-light;

    & h2 {
        @apply font-title leading-none mb-4;
        @apply font-bold;
        font-size: 40px;
    }
}

.mapped-bg {
    background-size: cover;
    background-position: center center;
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        background: color(theme('colors.primary.default') a(39%));
        z-index: 1;
    }
}

.wrapper--tease__service {
    & .image--tease__service {
        margin-left: auto;
        margin-right: auto;
        max-height: 100px;
        width: auto;
    }
}

@screen md {
    html {
        font-size: 22px;
    }

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .content {
        @apply px-0;

        & h2 {
            font-size: 58px;
        }
    }

    .wrapper--tease__service {
        width: 25%;

        margin-left: 2rem;
        margin-right: 2rem;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    .mapped-bg {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        min-height: 550px;
        &::before {
            content: unset;
        }
    }

    .hero-image__pic img {
        width: 100vw;
        min-height: 500px;
    }
}
