@screen md {
    .navigation__item--wrapper {
        position: relative;

        & .navigation__item--child__wrapper {
            @apply shadow;
            min-width: 160px;
            position: absolute;
            left: 0;
            top: 100%;
            padding: 10px 8px;
            z-index: 10;
            background: theme('colors.white.default');
            opacity: 0;
            transition: all 225ms cubic-bezier(0.4, 0.2, 0.0, 1.0);
            visibility: hidden;
            display: none;
        }

        &:hover .navigation__item--child__wrapper {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }
}
