{% extends 'templates/layouts/app.twig' %}

{% block content %}
    <main id="app">
        <div class="md:w-1/2 mx-auto content text-center my-12">
            <h2>404</h2>
            <h3>Pagina niet gevonden.</h3>
        </div>
    </main>
{% endblock %}
