{% extends 'templates/layouts/app.twig' %}

{% block content %}
    <main id="app">
        <div class="md:w-1/2 mx-auto content my-12">
            {{ post.content|wpautop }}
        </div>
    </main>
{% endblock %}
